<div class="container">
  <form class="jumbotron">
      <h3 class="display-4">Send an email</h3>
      <div class="form-group">
        <label for="title">Destinatario:</label>
        <input name="title" #newrecipient class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Oggetto:</label>
        <input name="link" #newobject class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Testo:</label>
        <input name="link" #newtext class="form-control">
      </div>
  </form>
</div>
